<section class="card">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit perferendis, assumenda dolorem deleniti, rerum fugiat voluptas dolorum, perspiciatis voluptatum nostrum repellat asperiores quos nisi eaque distinctio amet exercitationem laborum voluptates aperiam delectus mollitia odio hic quidem. Totam exercitationem rem fugiat.</p>
    </div>
</section>